$right-margin: 30px;
$line-width: 2px;
$line-color: rgba(#FFF, 0.7);
$bg-color: #EFE6E2;

.app {
  background-color: $bg-color;
  padding: 50px;
}

.simple-card {
  padding: 10px;
  background-color: $line-color;
  margin: 0;
  width: 100px;
  text-align: center;
}

.hv-wrapper {
  display: flex;

  .hv-node {
    display: flex;
    flex-direction: row;
    margin: auto;

    .hv-node-parent {
      margin-right: $right-margin;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        position: absolute;
        content: '';
        width: $right-margin / 2;
        height: $line-width;
        top: 50%;
        right: -$right-margin / 2;
        background-color: $line-color;
      }
    }

    .hv-node-children {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .hv-node-child {
        padding: 8px 0;
        position: relative;

        &:before, &:after {
          content: '';
          position: absolute;
          background-color: $line-color;
        }

        &:before {
          left: -$right-margin / 2;
          top: 50%;
          width: $right-margin / 2;
          height: $line-width;
        }

        &:after {
          left: -$right-margin / 2;
          top: 0;
          width: $line-width;
          height: 100%;
        }

        &:first-child:after {
          top: 50%;
          height: 50%;
        }

        &:last-child:after {
          height: calc(50% + 1px);
        }

        &:only-child:after {
          content: none;
        }
      }
    }
  }
}
