.app {
  background-color: #EFE6E2;
  padding: 50px; }

.simple-card {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
  width: 100px;
  text-align: center; }

.hv-wrapper {
  display: flex; }
  .hv-wrapper .hv-item {
    display: flex;
    flex-direction: row;
    margin: auto; }
    .hv-wrapper .hv-item .hv-item-parent {
      margin-right: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .hv-wrapper .hv-item .hv-item-parent:after {
        position: absolute;
        content: '';
        width: 15px;
        height: 2px;
        top: 50%;
        right: -15px;
        background-color: rgba(255, 255, 255, 0.7); }
    .hv-wrapper .hv-item .hv-item-children {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .hv-wrapper .hv-item .hv-item-children .hv-item-child {
        padding: 8px 0;
        position: relative; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:before, .hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
          content: '';
          position: absolute;
          background-color: rgba(255, 255, 255, 0.7); }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
          left: -15px;
          top: 50%;
          width: 15px;
          height: 2px; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
          left: -15px;
          top: 0;
          width: 2px;
          height: 100%; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
          top: 50%;
          height: 50%; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
          height: calc(50% + 1px); }
